---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import "@styles/global.css";
interface Props {
  pageTitle?: string;
  showTitle?: boolean;
  fullWidth?: boolean;
}
const {
  pageTitle = "Sin título",
  showTitle = true,
  fullWidth = false,
} = Astro.props as Props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style></style>
  </head>
  <body class="bg-bone-white dark:bg-blue-deep-sea">
    <Header />
    <main class=` ${fullWidth ? "w-full" : "w-5/8"} pb-5 md:pb-10`>
      {
        showTitle && (
          <h1 class="bg-gradient-to-bl from-dark-navy via-blue-teal to-sea-green bg-clip-text text-transparent animate-text-reveal ">
            {pageTitle}
          </h1>
        )
      }
      <slot />
    </main>
    <Footer />
    <script>
      /* Hamburger menu */
      import "@scripts/menu.js";
    </script>
  </body>
</html>
