:root {
  --color-dark-navy: #0b1019;
  --color-blue-deep-sea: #012030;
  --color-mint-cream: #dafdba;
  --color-mint-green: #9aeba3;
  --color-sea-green: #45c4b0;
  --color-blue-teal: #13678a;
  --color-bone-white: #ede9e1;
}
