---
import BaseLayout from "@layouts/base/BaseLayout.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
const tags = [...new Set(allPosts.map((post) => post?.data?.tags).flat())];
const pageTitle = "Índice de etiquetas";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="p-4 md:p-6">
    <div
      class="flex flex-wrap gap-3"
      role="list"
      aria-label="Lista de etiquetas del blog"
    >
      {
        tags.map((tag) => (
          <a
            href={`/tags/${tag}`}
            class="px-4 py-2 rounded-lg border border-dotted border-blue-teal dark:border-bone-white/50
                 text-blue-teal dark:text-bone-white bg-blue-teal/20 dark:bg-blue-teal/30
                 hover:bg-blue-teal/30 dark:hover:bg-mint-green/30
                 transition-colors duration-200 text-base md:text-lg font-medium"
            role="listitem"
          >
            #{tag}
          </a>
        ))
      }
    </div>
  </section>
</BaseLayout>
