---
import { getCollection } from "astro:content";
import BlogPost from "@components/BlogPost.astro";
import BaseLayout from "@layouts/base/BaseLayout.astro";
const allPosts = await getCollection("blog");
import "@styles/global.css";
const pageTitle = "Mi blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>bienvenido a mi blog de astro</p>
  <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
