---
import NAV_LINKS from "@/constants/nav-links";
---

<div class="nav-links flex flex-4 flex-row justify-between">
  {
    NAV_LINKS.map((l) => (
      <a
        href={l.path}
        class="text-dark-navy hover:text-blue-teal transition-colors duration-300"
      >
        {l.routeName}
      </a>
    ))
  }
</div>
