---
import Icon from "./Icon.astro";
import type { IconName } from "./Icon.astro";

interface Props {
  platform: IconName;
  url: string;
  color: string;
}
const { url, platform, color } = Astro.props as Props;
---

<style>
  .social-icon:hover {
    color: #fff; /* Cambia el color a blanco cuando se active el evento de hover */
  }
</style>

<a href={url}>
  <Icon name={platform} color={color} />
</a>
